{#<form action="{% url 'job_params' %}" method="post" enctype="multipart/form-data">#}
{#    {% csrf_token %}#}
{##}
{#    {% for field in params_form %}#}
{#        <div class="container-fluid field#}
{#                    {% if field.name == 'outfile' %}hidden{% endif %}#}
{#                    {% if field.errors %}error{% endif %}#}
{#                    div-{{ field.name }}#}
{#                    ">#}
{#            <!-- Label -->#}
{#            <label class="col-md-4" for="{{ field.auto_id }}">#}
{#                {% if field.name == 'params_type' %}#}
{#                    Type#}
{#                {% else %}#}
{#                    {{ field.label }}#}
{#                {% endif %}#}
{#            </label>#}
{##}
{#            <!-- Field -->#}
{#            <div class="col-md-12">#}
{#                {{ field }}#}
{#                {{ field.errors }}#}
{#            </div>#}
{#        </div>#}
{#    {% endfor %}#}
{#    <input class="btn btn-primary" type="submit" value="Save and next" />#}
{#</form>#}

<form action="{% url 'job_params' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% if form.non_field_errors %}
        <div class="container-fluid non-field-error">
            <div class="col-md-12 text-center">
                {{ form.non_field_errors }}
            </div>
        </div>
    {% endif %}
    {% if next %}
        <input type="hidden" name="next" value="{{ next }}" />
    {% endif %}

    <!-- i0 -->
    <div class="form-group" id="group-i0">
        <h1>i0</h1>
        <div class="row">
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="i0_fixed">Fixed</label>
                <div class="col-md-1">
                    <input class="form-control" id="i0_fixed" name="i0_fixed" required>
                </div>
            </div>
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="i0_value">Value</label>
                <div class="col-md-1">
                    <input class="form-control" id="i0_value" name="i0_value" required>
                </div>
            </div>
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="i0_min">Minimum</label>
                <div class="col-md-1">
                    <input class="form-control" id="i0_min" name="i0_min" required>
                </div>
            </div>
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="i0_max">Maximum</label>
                <div class="col-md-1">
                    <input class="form-control" id="i0_max" name="i0_max" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="i0_wrap">Wrap</label>
                <div class="col-md-1">
                    <input class="form-control" id="i0_wrap" name="i0_wrap" required>
                </div>
            </div>
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="i0_step">Step</label>
                <div class="col-md-1">
                    <input class="form-control" id="i0_step" name="i0_step" required>
                </div>
            </div>
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="i0_step">Rel step</label>
                <div class="col-md-1">
                    <input class="form-control" id="i0_step" name="i0_step" required>
                </div>
            </div>
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="i0_side">Side</label>
                <div class="col-md-1">
                    <input class="form-control" id="i0_side" name="i0_side" required>
                </div>
            </div>
        </div>
    </div>

    <!-- r0 -->
    <div class="form-group" id="group-r0">
        <h1>r0</h1>
        <div class="row">
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="r0_fixed">Fixed</label>
                <div class="col-md-1">
                    <input class="form-control" id="r0_fixed" name="r0_fixed" required>
                </div>
            </div>
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="r0_value">Value</label>
                <div class="col-md-1">
                    <input class="form-control" id="r0_value" name="r0_value" required>
                </div>
            </div>
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="r0_min">Minimum</label>
                <div class="col-md-1">
                    <input class="form-control" id="r0_min" name="r0_min" required>
                </div>
            </div>
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="r0_max">Maximum</label>
                <div class="col-md-1">
                    <input class="form-control" id="r0_max" name="r0_max" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="r0_wrap">Wrap</label>
                <div class="col-md-1">
                    <input class="form-control" id="r0_wrap" name="r0_wrap" required>
                </div>
            </div>
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="r0_step">Step</label>
                <div class="col-md-1">
                    <input class="form-control" id="r0_step" name="r0_step" required>
                </div>
            </div>
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="r0_step">Rel step</label>
                <div class="col-md-1">
                    <input class="form-control" id="r0_step" name="r0_step" required>
                </div>
            </div>
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="r0_side">Side</label>
                <div class="col-md-1">
                    <input class="form-control" id="r0_side" name="r0_side" required>
                </div>
            </div>
        </div>
    </div>

    <!-- xo -->
    <div class="form-group" id="group-xo">
        <h1>xo</h1>
        <div class="row">
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="xo_fixed">Fixed</label>
                <div class="col-md-1">
                    <input class="form-control" id="xo_fixed" name="xo_fixed" required>
                </div>
            </div>
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="xo_value">Value</label>
                <div class="col-md-1">
                    <input class="form-control" id="xo_value" name="xo_value" required>
                </div>
            </div>
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="xo_min">Minimum</label>
                <div class="col-md-1">
                    <input class="form-control" id="xo_min" name="xo_min" required>
                </div>
            </div>
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="xo_max">Maximum</label>
                <div class="col-md-1">
                    <input class="form-control" id="xo_max" name="xo_max" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="xo_wrap">Wrap</label>
                <div class="col-md-1">
                    <input class="form-control" id="xo_wrap" name="xo_wrap" required>
                </div>
            </div>
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="xo_step">Step</label>
                <div class="col-md-1">
                    <input class="form-control" id="xo_step" name="xo_step" required>
                </div>
            </div>
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="xo_step">Rel step</label>
                <div class="col-md-1">
                    <input class="form-control" id="xo_step" name="xo_step" required>
                </div>
            </div>
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="xo_side">Side</label>
                <div class="col-md-1">
                    <input class="form-control" id="xo_side" name="xo_side" required>
                </div>
            </div>
        </div>
    </div>

    <!-- yo -->
    <div class="form-group" id="group-yo">
        <h1>yo</h1>
        <div class="row">
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="yo_fixed">Fixed</label>
                <div class="col-md-1">
                    <input class="form-control" id="yo_fixed" name="yo_fixed" required>
                </div>
            </div>
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="yo_value">Value</label>
                <div class="col-md-1">
                    <input class="form-control" id="yo_value" name="yo_value" required>
                </div>
            </div>
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="yo_min">Minimum</label>
                <div class="col-md-1">
                    <input class="form-control" id="yo_min" name="yo_min" required>
                </div>
            </div>
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="yo_max">Maximum</label>
                <div class="col-md-1">
                    <input class="form-control" id="yo_max" name="yo_max" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="yo_wrap">Wrap</label>
                <div class="col-md-1">
                    <input class="form-control" id="yo_wrap" name="yo_wrap" required>
                </div>
            </div>
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="yo_step">Step</label>
                <div class="col-md-1">
                    <input class="form-control" id="yo_step" name="yo_step" required>
                </div>
            </div>
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="yo_step">Rel step</label>
                <div class="col-md-1">
                    <input class="form-control" id="yo_step" name="yo_step" required>
                </div>
            </div>
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="yo_side">Side</label>
                <div class="col-md-1">
                    <input class="form-control" id="yo_side" name="yo_side" required>
                </div>
            </div>
        </div>
    </div>

    <!-- pa -->
    <div class="form-group" id="group-pa">
        <h1>pa</h1>
        <div class="row">
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="pa_fixed">Fixed</label>
                <div class="col-md-1">
                    <input class="form-control" id="pa_fixed" name="pa_fixed" required>
                </div>
            </div>
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="pa_value">Value</label>
                <div class="col-md-1">
                    <input class="form-control" id="pa_value" name="pa_value" required>
                </div>
            </div>
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="pa_min">Minimum</label>
                <div class="col-md-1">
                    <input class="form-control" id="pa_min" name="pa_min" required>
                </div>
            </div>
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="pa_max">Maximum</label>
                <div class="col-md-1">
                    <input class="form-control" id="pa_max" name="pa_max" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="pa_wrap">Wrap</label>
                <div class="col-md-1">
                    <input class="form-control" id="pa_wrap" name="pa_wrap" required>
                </div>
            </div>
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="pa_step">Step</label>
                <div class="col-md-1">
                    <input class="form-control" id="pa_step" name="pa_step" required>
                </div>
            </div>
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="pa_step">Rel step</label>
                <div class="col-md-1">
                    <input class="form-control" id="pa_step" name="pa_step" required>
                </div>
            </div>
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="pa_side">Side</label>
                <div class="col-md-1">
                    <input class="form-control" id="pa_side" name="pa_side" required>
                </div>
            </div>
        </div>
    </div>

    <!-- incl -->
    <div class="form-group" id="group-incl">
        <h1>incl</h1>
        <div class="row">
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="incl_fixed">Fixed</label>
                <div class="col-md-1">
                    <input class="form-control" id="incl_fixed" name="incl_fixed" required>
                </div>
            </div>
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="incl_value">Value</label>
                <div class="col-md-1">
                    <input class="form-control" id="incl_value" name="incl_value" required>
                </div>
            </div>
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="incl_min">Minimum</label>
                <div class="col-md-1">
                    <input class="form-control" id="incl_min" name="incl_min" required>
                </div>
            </div>
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="incl_max">Maximum</label>
                <div class="col-md-1">
                    <input class="form-control" id="incl_max" name="incl_max" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="incl_wrap">Wrap</label>
                <div class="col-md-1">
                    <input class="form-control" id="incl_wrap" name="incl_wrap" required>
                </div>
            </div>
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="incl_step">Step</label>
                <div class="col-md-1">
                    <input class="form-control" id="incl_step" name="incl_step" required>
                </div>
            </div>
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="incl_step">Rel step</label>
                <div class="col-md-1">
                    <input class="form-control" id="incl_step" name="incl_step" required>
                </div>
            </div>
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="incl_side">Side</label>
                <div class="col-md-1">
                    <input class="form-control" id="incl_side" name="incl_side" required>
                </div>
            </div>
        </div>
    </div>

    <!-- rt -->
    <div class="form-group" id="group-rt">
        <h1>rt</h1>
        <div class="row">
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="rt_fixed">Fixed</label>
                <div class="col-md-1">
                    <input class="form-control" id="rt_fixed" name="rt_fixed" required>
                </div>
            </div>
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="rt_value">Value</label>
                <div class="col-md-1">
                    <input class="form-control" id="rt_value" name="rt_value" required>
                </div>
            </div>
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="rt_min">Minimum</label>
                <div class="col-md-1">
                    <input class="form-control" id="rt_min" name="rt_min" required>
                </div>
            </div>
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="rt_max">Maximum</label>
                <div class="col-md-1">
                    <input class="form-control" id="rt_max" name="rt_max" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="rt_wrap">Wrap</label>
                <div class="col-md-1">
                    <input class="form-control" id="rt_wrap" name="rt_wrap" required>
                </div>
            </div>
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="rt_step">Step</label>
                <div class="col-md-1">
                    <input class="form-control" id="rt_step" name="rt_step" required>
                </div>
            </div>
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="rt_step">Rel step</label>
                <div class="col-md-1">
                    <input class="form-control" id="rt_step" name="rt_step" required>
                </div>
            </div>
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="rt_side">Side</label>
                <div class="col-md-1">
                    <input class="form-control" id="rt_side" name="rt_side" required>
                </div>
            </div>
        </div>
    </div>

    <!-- vt -->
    <div class="form-group" id="group-vt">
        <h1>vt</h1>
        <div class="row">
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="vt_fixed">Fixed</label>
                <div class="col-md-1">
                    <input class="form-control" id="vt_fixed" name="vt_fixed" required>
                </div>
            </div>
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="vt_value">Value</label>
                <div class="col-md-1">
                    <input class="form-control" id="vt_value" name="vt_value" required>
                </div>
            </div>
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="vt_min">Minimum</label>
                <div class="col-md-1">
                    <input class="form-control" id="vt_min" name="vt_min" required>
                </div>
            </div>
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="vt_max">Maximum</label>
                <div class="col-md-1">
                    <input class="form-control" id="vt_max" name="vt_max" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="vt_wrap">Wrap</label>
                <div class="col-md-1">
                    <input class="form-control" id="vt_wrap" name="vt_wrap" required>
                </div>
            </div>
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="vt_step">Step</label>
                <div class="col-md-1">
                    <input class="form-control" id="vt_step" name="vt_step" required>
                </div>
            </div>
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="vt_step">Rel step</label>
                <div class="col-md-1">
                    <input class="form-control" id="vt_step" name="vt_step" required>
                </div>
            </div>
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="vt_side">Side</label>
                <div class="col-md-1">
                    <input class="form-control" id="vt_side" name="vt_side" required>
                </div>
            </div>
        </div>
    </div>

    <!-- vsys -->
    <div class="form-group" id="group-vsys">
        <h1>vsys</h1>
        <div class="row">
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="vsys_fixed">Fixed</label>
                <div class="col-md-1">
                    <input class="form-control" id="vsys_fixed" name="vsys_fixed" required>
                </div>
            </div>
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="vsys_value">Value</label>
                <div class="col-md-1">
                    <input class="form-control" id="vsys_value" name="vsys_value" required>
                </div>
            </div>
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="vsys_min">Minimum</label>
                <div class="col-md-1">
                    <input class="form-control" id="vsys_min" name="vsys_min" required>
                </div>
            </div>
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="vsys_max">Maximum</label>
                <div class="col-md-1">
                    <input class="form-control" id="vsys_max" name="vsys_max" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="vsys_wrap">Wrap</label>
                <div class="col-md-1">
                    <input class="form-control" id="vsys_wrap" name="vsys_wrap" required>
                </div>
            </div>
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="vsys_step">Step</label>
                <div class="col-md-1">
                    <input class="form-control" id="vsys_step" name="vsys_step" required>
                </div>
            </div>
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="vsys_step">Rel step</label>
                <div class="col-md-1">
                    <input class="form-control" id="vsys_step" name="vsys_step" required>
                </div>
            </div>
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="vsys_side">Side</label>
                <div class="col-md-1">
                    <input class="form-control" id="vsys_side" name="vsys_side" required>
                </div>
            </div>
        </div>
    </div>

    <!-- vsig -->
    <div class="form-group" id="group-vsig">
        <h1>vsig</h1>
        <div class="row">
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="vsig_fixed">Fixed</label>
                <div class="col-md-1">
                    <input class="form-control" id="vsig_fixed" name="vsig_fixed" required>
                </div>
            </div>
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="vsig_value">Value</label>
                <div class="col-md-1">
                    <input class="form-control" id="vsig_value" name="vsig_value" required>
                </div>
            </div>
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="vsig_min">Minimum</label>
                <div class="col-md-1">
                    <input class="form-control" id="vsig_min" name="vsig_min" required>
                </div>
            </div>
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="vsig_max">Maximum</label>
                <div class="col-md-1">
                    <input class="form-control" id="vsig_max" name="vsig_max" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="vsig_wrap">Wrap</label>
                <div class="col-md-1">
                    <input class="form-control" id="vsig_wrap" name="vsig_wrap" required>
                </div>
            </div>
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="vsig_step">Step</label>
                <div class="col-md-1">
                    <input class="form-control" id="vsig_step" name="vsig_step" required>
                </div>
            </div>
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="vsig_step">Rel step</label>
                <div class="col-md-1">
                    <input class="form-control" id="vsig_step" name="vsig_step" required>
                </div>
            </div>
            <div class="container-fluid field">
                <label class="col-md-1 text-right" for="vsig_side">Side</label>
                <div class="col-md-1">
                    <input class="form-control" id="vsig_side" name="vsig_side" required>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid text-right">
        <div class="buttons col-md-8">
            <input class="btn btn-success" type="submit" value="Save and next"/>
        </div>
    </div>
</form>