<div class='breadcrumbs'>
    <div class='inner'>
        <ul class='cf'>
            <li id="li_start"
                {% if active_tab == 'start' %}class="active"{% endif %}
            >
                <a data-toggle="tab" href="#start">
                  <span>1</span>
                  <span>Start</span>
                </a>
            </li>
            <li id="li_data-model"
                class="has-popover {% if active_tab == 'data-model' %}active{% endif %}
                {% if disable_other_tabs == True %} disabled {% endif %}"
                data-content="Define Data Model" data-placement="top" data-container="body"
            >
                <a data-toggle="tab" href="#data-model">
                  <span>2</span>
                  <span>DModel</span>
                </a>
            </li>
            <li id="li_data-set"
                class="has-popover {% if active_tab == 'data-set' %}active{% endif %}
                {% if disable_other_tabs == True %} disabled {% endif %}"
                data-content="Upload dataset" data-placement="top" data-container="body"
            >
                <a data-toggle="tab" href="#data-set">
                  <span>3</span>
                  <span>Upload</span>
                </a>
            </li>
            <li id="li_psf"
                class="has-popover {% if active_tab == 'psf' %}active{% endif %}
                {% if disable_other_tabs == True %} disabled {% endif %}"
                data-content="Define Point Spread Function" data-placement="top" data-container="body"
            >
                <a data-toggle="tab" href="#psf">
                  <span>4</span>
                  <span>PSF</span>
                </a>
            </li>
            <li id="li_lsf"
                class="has-popover {% if active_tab == 'lsf' %}active{% endif %}
                {% if disable_other_tabs == True %} disabled {% endif %}"
                data-content="Define Line Spread Function" data-placement="top" data-container="body"
            >
                <a data-toggle="tab" href="#lsf">
                  <span>5</span>
                  <span>LSF</span>
                </a>
            </li>
            <li id="li_galaxy-model"
                class="has-popover {% if active_tab == 'galaxy-model' %}active{% endif %}
                {% if disable_other_tabs == True %} disabled {% endif %}"
                data-content="Define Galaxy Model" data-placement="top" data-container="body"
            >
                <a data-toggle="tab" href="#galaxy-model">
                  <span>6</span>
                  <span>GModel</span>
                </a>
            </li>
            <li id="li_fitter"
                class="has-popover {% if active_tab == 'fitter' %}active{% endif %}
                {% if disable_other_tabs == True %} disabled {% endif %}"
                data-content="Define Fitter Parameters" data-placement="top" data-container="body"
            >
                <a data-toggle="tab" href="#fitter">
                  <span>7</span>
                  <span>Fitter</span>
                </a>
            </li>
            <li id="li_params"
                class="has-popover {% if active_tab == 'params' %}active{% endif %}
                {% if disable_other_tabs == True %} disabled {% endif %}"
                data-content="Define Parameter-Set" data-placement="top" data-container="body"
            >
                <a data-toggle="tab" href="#params">
                  <span>8</span>
                  <span>Params</span>
                </a>
            </li>
            <li id="li_launch"
                class="{% if active_tab == 'launch' %} active{% endif %}
                {% if disable_other_tabs == True %} disabled {% endif %}"
            >
                <a data-toggle="tab" href="#launch">
                  <span>9</span>
                  <span>Submit</span>
                </a>
            </li>
        </ul>
    </div>
</div>
