{#<div class="summary-center ">#}
{#    <h2>SUMMARY</h2>#}
{#</div>#}
<fieldset id="job_details">
    <legend>Job</legend>
    {% include 'job/snippets-view/1_job_start_form.html' %}
</fieldset>

<fieldset id="data_model_details">
    <legend>Data model</legend>
    {% include 'job/snippets-view/2_data_model_form.html' %}
</fieldset>

<fieldset id="dataset_details">
    <legend>Dataset</legend>
    {% include 'job/snippets-view/3_dataset_form.html' %}
</fieldset>

<fieldset id="psf_details">
    <legend>PSF (optional)</legend>
    {% include 'job/snippets-view/4_psf_form.html' %}
</fieldset>

<fieldset id="lsf_details">
    <legend>LSF (optional)</legend>
    {% include 'job/snippets-view/5_lsf_form.html' %}
</fieldset>

<fieldset id="galaxy_model_details">
    <legend>Galaxy model</legend>
    {% include 'job/snippets-view/6_galaxy_model_form.html' %}
</fieldset>

<fieldset id="fitter_details">
    <legend>Fitter</legend>
    {% include 'job/snippets-view/7_fitter_form.html' %}
</fieldset>

<fieldset id="params_details">
    <legend>Parameters</legend>
    {% include 'job/snippets-view/8_params_form.html' %}
</fieldset>
