{% extends 'base/base-two-columns.html' %}

{% block info-bar %}
{#    <div class="page-header">Infobar</div>#}
{#    {% if request.session.draft_job %}<p>Job: {{ request.session.draft_job }}</p>{% endif %}#}
{#    {% if request.session.dataset %} <p>Dataset: {{ request.session.dataset }}</p>{% endif %}#}
{#    {% if request.session.data_model %} <p>Data model: {{ request.session.data_model }}</p>{% endif %}#}
{#    {% if request.session.psf %} <p>PSF: {{ request.session.psf }}</p>{% endif %}#}
{#    {% if request.session.lsf %} <p>LSF: {{ request.session.lsf }}</p>{% endif %}#}
{#    {% if request.session.galaxy_model %} <p>Galaxy model: {{ request.session.galaxy_model }}</p>{% endif %}#}
{#    {% if request.session.fitter %} <p>Fitter: {{ request.session.fitter }}</p>{% endif %}#}
{#    {% if request.session.params %} <p>Params: {{ request.session.params }}</p>{% endif %}#}
{% endblock info-bar %}

{% block page_header %}
    New Job
{% endblock page_header %}

{% block content %}
    {% include 'job/snippets-tabs/job-tabs.html' %}

    <div class="tab-content" id="job-tabs">

        <!-- START -->
        <div id="start" class="tab-pane fade{% if active_tab == 'start' %} in active{% endif %}">
            {% include 'job/snippets-create/1_job_start_form.html' %}
        </div>

        <!-- Data Set -->
        <div id="data-set" class="tab-pane fade{% if active_tab == 'data-set' %} in active{% endif %}">
            {% include 'job/snippets-create/2_dataset_form.html' %}
        </div>

        <!-- DModel -->
        <div id="data-model" class="tab-pane fade{% if active_tab == 'data-model' %} in active{% endif %}">
            {% include 'job/snippets-create/3_data_model_form.html' %}
        </div>

        <!-- PSF -->
        <div id="psf" class="tab-pane fade{% if active_tab == 'psf' %} in active{% endif %}">
            {% include 'job/snippets-create/4_psf_form.html' %}
        </div>

        <!-- LSF -->
        <div id="lsf" class="tab-pane fade{% if active_tab == 'lsf' %} in active{% endif %}">
            {% include 'job/snippets-create/5_lsf_form.html' %}
        </div>

        <!-- GModel -->
        <div id="galaxy-model" class="tab-pane fade{% if active_tab == 'galaxy-model' %} in active{% endif %}">
            {% include 'job/snippets-create/6_galaxy_model_form.html' %}
        </div>

        <!-- Fitter -->
        <div id="fitter" class="tab-pane fade{% if active_tab == 'fitter' %} in active{% endif %}">
            {% include 'job/snippets-create/7_fitter_form.html' %}
        </div>

        <!-- Params -->
        <div id="params" class="tab-pane fade{% if active_tab == 'params' %} in active{% endif %}">
            {% include 'job/snippets-create/8_params_form.html' %}
        </div>

        <!-- Launch -->
        <div id="launch" class="tab-pane fade{% if active_tab == 'launch' %} in active{% endif %}">
            <form action="{% url 'job_launch' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input class="btn btn-primary" type="submit" value="Launch job" />
            </form>
        </div>
    </div>
{% endblock content %}