{% extends 'base/base.html' %}
{% load template_filters %}

{% block page_header %}
    <div class="header-center">Jobs</div>
{% endblock page_header %}

{% block content %}
    {% csrf_token %}
    <table class="table" id="table_jobs">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Created on</th>
            <th>Submitted on</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for job in object_list %}
            <tr class="{{ job.status | status_color }}">
                <td>{{ job.id }}</td>
                <td>{{ job.name }}</td>
                <td>{{ job.creation_time|date }}</td>
                <td>{% if job.job_pending_time != None %}{{ job.job_pending_time|date }}{% else %}Not submitted{% endif %}</td>
                <td>{{ job.status_display }}</td>
                <td>
                    <a href="{% url 'job_overview' id=job.id %}">
                        <span class="glyphicon glyphicon-th-list has-popover"
                              data-content="Job details" data-placement="top" data-container="body" />
                    </a>
                    <a href="{% url 'job_duplicate' id=job.id %}">
                        <span class="glyphicon glyphicon-paste has-popover"
                              data-content="Duplicate" data-placement="top" data-container="body" />
                    </a>
                    {% if job.status == "draft" %}
                        <a href="{% url 'job_name_edit' id=job.id %}">
                            <span class="glyphicon glyphicon-pencil has-popover"
                                  data-content="Edit details" data-placement="top" data-container="body" />
                        </a>
                        <a href="" id="delete_job_{{ job.id }}" class="delete_job" job_name="{{ job.name }}" job_id="{{ job.id }}">
                            <span class="glyphicon glyphicon-trash has-popover"
                                  data-content="Delete job" data-placement="top" data-container="body" />
                        </a>
                    {% endif %}
                    {% if job.status == "completed" %}
                        <a href="{% url 'job_results' id=job.id %}">
                            <span class="glyphicon glyphicon-signal has-popover"
                                  data-content="Job results" data-placement="top" data-container="body" />
                        </a>
                    {% endif %}
                    {% if job.status == "error" %}
                        <a href="{% url 'job_results' id=job.id %}">
                            <span class="glyphicon glyphicon-signal has-popover"
                                  data-content="Job results" data-placement="top" data-container="body" />
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% empty %}
            <tr>
                <td>No job yet.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        {% endfor %}
    </tbody>
    </table>

{% endblock content %}
