{% extends 'base/base.html' %}

{% block page_header %}
    <div class="header-center">Jobs</div>
{% endblock page_header %}

{% block content %}
    {% csrf_token %}
    <table class="table" id="table_jobs">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Created on</th>
            <th>Submitted on</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for job in object_list %}
            <tr class="
                        {% if job.status == job.DRAFT %} active {% endif %}
                        {% if job.status == job.SUBMITTED %} warning  {% endif %}
                        {% if job.status == job.QUEUED %} active {% endif %}
                        {% if job.status == job.IN_PROGRESS %} info {% endif %}
                        {% if job.status == job.COMPLETED %} success {% endif %}
                        {% if job.status == job.ERROR %} danger {% endif %}
                        {% if job.status == job.WALL_TIME_EXCEEDED %} danger {% endif %}
                        {% if job.status == job.DELETED %} danger {% endif %}
                      ">
                <td>{{ job.id }}</td>
                <td>{{ job.name }}</td>
                <td>{{ job.creation_time|date }}</td>
                <td>{% if job.submission_time != None %}{{ job.submission_time|date }}{% else %}Not submitted{% endif %}</td>
                <td>{{ job.status }}</td>
                <td>
                    <a href="{% url 'job_overview' id=job.id %}">
                        <span class="glyphicon glyphicon-th-list has-popover"
                              data-content="Job details" data-placement="top" data-container="body" />
                    </a>
                    <a href="{% url 'job_duplicate' id=job.id %}">
                        <span class="glyphicon glyphicon-paste has-popover"
                              data-content="Duplicate" data-placement="top" data-container="body" />
                    </a>
                    {% if job.status == job.DRAFT %}
                        <a href="{% url 'job_name_edit' id=job.id %}">
                            <span class="glyphicon glyphicon-pencil has-popover"
                                  data-content="Edit details" data-placement="top" data-container="body" />
                        </a>
                        <a href="" id="delete_job_{{ job.id }}" class="delete_job" job_name="{{ job.name }}" job_id="{{ job.id }}">
                            <span class="glyphicon glyphicon-trash has-popover"
                                  data-content="Delete job" data-placement="top" data-container="body" />
                        </a>
                    {% endif %}
                    {% if job.status == job.COMPLETED %}
                        <a href="{% url 'job_results' id=job.id %}">
                            <span class="glyphicon glyphicon-signal has-popover"
                                  data-content="Job results" data-placement="top" data-container="body" />
                        </a>
                    {% endif %}
                    {% if job.status == job.ERROR %}
                        <a href="{% url 'download_results' id=job.id %}">
                            <span class="glyphicon glyphicon-download-alt has-popover"
                                      data-content="Download job logs" data-placement="top" data-container="body" />
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% empty %}
            <tr>
                <td>No job yet.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        {% endfor %}
    </tbody>
    </table>

{% endblock content %}
