/********************************************/
/*                                          */
/*                  Header                  */
/*                                          */
/********************************************/
.header{
    min-height: 100px;
    background-color: darkcyan;
    color: #fff;
    text-align: center;
}

.header .heading {
    padding: 30px;
    font-size: xx-large;
}

.page-header {
    margin: 0 0 20px;
    font-size: xx-large;
    text-align: center;
}

/********************************************/
/*                                          */
/*                  Footer                  */
/*                                          */
/********************************************/
.footer{
    background-color: cadetblue;
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

.footer .footer-text {
    padding: 10px;
}


/********************************************/
/*                                          */
/*                 Info-bar                 */
/*                                          */
/********************************************/
.info-bar{
    color: darkcyan;
    text-align: right;
    margin-top: 20px;
}


/********************************************/
/*                                          */
/*                 Main-Content             */
/*                                          */
/********************************************/
.main-content{
    border-left: 1px dotted #cccccc;
}


/********************************************/
/*                                          */
/*                 Job-Tabs                 */
/*                                          */
/********************************************/
.tab-content{
    margin-top: 20px;
}


/********************************************/
/*                                          */
/*                 Forms                    */
/*                                          */
/********************************************/
.field {
    padding-bottom: 10px;
}
.field.error label {
    color: darkred;
}

.field.error input {
    border-color: darkred;
    border-radius: 4px 4px 0 0;
}

.field.error ul {
    list-style: none;
    color: darkred;
    padding: 5px 5px 5px 10px;
    border: 1px solid darkred;
    border-top-width: 0;
    border-radius: 0 0 4px 4px;
    background-color: darksalmon;
}

/* non field errors */

.non-field-error div {
    margin-top: -20px;
    border-top: 1px solid darkred;
    padding: 0 80px 10px;
}

.non-field-error ul {
    list-style: none;
    color: darkred;
    padding: 5px 5px 5px 10px;
    border: 1px solid darkred;
    border-top-width: 0;
    border-radius: 0 0 4px 4px;
    background-color: darksalmon;
}

