<!--<section once="" class="cid-qx3SOsr18V" id="footer6-4" data-rv-view="551">-->
    <!--<div class="container">-->
        <!--<div class="media-container-row align-center mbr-white">-->
            <!--<div class="footer col-12">-->
                <!--<p class="mbr-text mb-0 mbr-fonts-style display-7 footer-text">-->
                    <!--<div class="footer-text">&copy; Copyright 2017 GBKFIT - All Rights Reserved</div>-->
                <!--</p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</section>-->
<div class="row">
    <div class="footer-welcome">
        <div class="footer-text">&copy; Copyright 2017 GBKFIT - All Rights Reserved</div>
    </div>
</div>
