<form action="{% url 'job_psf' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% include 'job/snippets/errors.html' %}

    {% include 'job/snippets/pager.html' %}

    {% for field in psf_form %}

        <div class="container-fluid field
                    {% if field.name == 'beta' %}hidden{% endif %}
                    {% if field.errors %}error{% endif %}
                    div-{{ field.name }}
                    ">

            <!-- Label -->
            <label class="col-md-4" for="{{ field.auto_id }}">
                {{ field.label }}
            </label>

            <!-- Field -->
            <div class="col-md-12">
                {{ field }}
                {{ field.errors }}
            </div>

        </div>
    {% endfor %}

    {% include 'job/snippets/pager.html' %}
</form>
