<form action="{% url 'job_fitter' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% include 'job/snippets/errors.html' %}

    {% include 'job/snippets/pager.html' %}

    <!-- 'type' -->
    <div class="container-fluid field
        {% if fitter_form.fitter_type.errors %}error{% endif %}
        div-{{ fitter_form.fitter_type.name }}
        ">

        <!-- Label -->
        <label class="col-md-4" for="{{ fitter_form.fitter_type.auto_id }}">
            {{ fitter_form.fitter_type.label }}
        </label>

        <!-- Field -->
        <div class="col-md-12">
            {{ fitter_form.fitter_type }}
            {{ fitter_form.fitter_type.errors }}
        </div>
    </div>

    <div class="div-mpfit">
        <!-- 'ftol', 'xtol', 'gtol', -->
        <div class="container-fluid field">
            <div class="col-md-4
                {% if fitter_form.ftol.errors %}error{% endif %}
                div-{{ fitter_form.ftol.name }}
                ">
                <!-- Label -->
                <label for="{{ fitter_form.ftol.auto_id }}">
                    {{ fitter_form.ftol.label }}
                </label>

                <!-- Field -->
                <div>
                    {{ fitter_form.ftol }}
                    {{ fitter_form.ftol.errors }}
                </div>
            </div>

            <div class="col-md-4
                {% if fitter_form.xtol.errors %}error{% endif %}
                div-{{ fitter_form.xtol.name }}
                ">
                <!-- Label -->
                <label for="{{ fitter_form.xtol.auto_id }}">
                    {{ fitter_form.xtol.label }}
                </label>

                <!-- Field -->
                <div>
                    {{ fitter_form.xtol }}
                    {{ fitter_form.xtol.errors }}
                </div>
            </div>

            <div class="col-md-4
                {% if fitter_form.gtol.errors %}error{% endif %}
                div-{{ fitter_form.gtol.name }}
                ">
                <!-- Label -->
                <label for="{{ fitter_form.gtol.auto_id }}">
                    {{ fitter_form.gtol.label }}
                </label>

                <!-- Field -->
                <div>
                    {{ fitter_form.gtol }}
                    {{ fitter_form.gtol.errors }}
                </div>
            </div>
        </div>

        <!-- 'epsfcn', 'stepfactor', 'covtol', -->
        <div class="container-fluid field">
            <div class="col-md-4
                {% if fitter_form.epsfcn.errors %}error{% endif %}
                div-{{ fitter_form.epsfcn.name }}
                ">
                <!-- Label -->
                <label for="{{ fitter_form.epsfcn.auto_id }}">
                    {{ fitter_form.epsfcn.label }}
                </label>

                <!-- Field -->
                <div>
                    {{ fitter_form.epsfcn }}
                    {{ fitter_form.epsfcn.errors }}
                </div>
            </div>

            <div class="col-md-4
                {% if fitter_form.stepfactor.errors %}error{% endif %}
                div-{{ fitter_form.stepfactor.name }}
                ">
                <!-- Label -->
                <label for="{{ fitter_form.stepfactor.auto_id }}">
                    {{ fitter_form.stepfactor.label }}
                </label>

                <!-- Field -->
                <div>
                    {{ fitter_form.stepfactor }}
                    {{ fitter_form.stepfactor.errors }}
                </div>
            </div>

            <div class="col-md-4
                {% if fitter_form.covtol.errors %}error{% endif %}
                div-{{ fitter_form.covtol.name }}
                ">
                <!-- Label -->
                <label for="{{ fitter_form.covtol.auto_id }}">
                    {{ fitter_form.covtol.label }}
                </label>

                <!-- Field -->
                <div>
                    {{ fitter_form.covtol }}
                    {{ fitter_form.covtol.errors }}
                </div>
            </div>
        </div>

        <!-- mpfit_maxiter', 'maxfev', 'nprint',  -->
        <div class="container-fluid field">
            <div class="col-md-4
                {% if fitter_form.mpfit_maxiter.errors %}error{% endif %}
                div-{{ fitter_form.mpfit_maxiter.name }}
                ">
                <!-- Label -->
                <label for="{{ fitter_form.mpfit_maxiter.auto_id }}">
                    {{ fitter_form.mpfit_maxiter.label }}
                </label>

                <!-- Field -->
                <div>
                    {{ fitter_form.mpfit_maxiter }}
                    {{ fitter_form.mpfit_maxiter.errors }}
                </div>
            </div>

            <div class="col-md-4
                {% if fitter_form.maxfev.errors %}error{% endif %}
                div-{{ fitter_form.maxfev.name }}
                ">
                <!-- Label -->
                <label for="{{ fitter_form.maxfev.auto_id }}">
                    {{ fitter_form.maxfev.label }}
                </label>

                <!-- Field -->
                <div>
                    {{ fitter_form.maxfev }}
                    {{ fitter_form.maxfev.errors }}
                </div>
            </div>

            <div class="col-md-4
                {% if fitter_form.nprint.errors %}error{% endif %}
                div-{{ fitter_form.nprint.name }}
                ">
                <!-- Label -->
                <label for="{{ fitter_form.nprint.auto_id }}">
                    {{ fitter_form.nprint.label }}
                </label>

                <!-- Field -->
                <div>
                    {{ fitter_form.nprint }}
                    {{ fitter_form.nprint.errors }}
                </div>
            </div>
        </div>

        <!-- 'douserscale', 'nofinitecheck',  -->
        <div class="container-fluid field">
            <div class="col-md-4
                {% if fitter_form.douserscale.errors %}error{% endif %}
                div-{{ fitter_form.douserscale.name }}
                ">
                <!-- Label -->
                <label for="{{ fitter_form.douserscale.auto_id }}">
                    {{ fitter_form.douserscale.label }}
                </label>

                <!-- Field -->
                <div>
                    {{ fitter_form.douserscale }}
                    {{ fitter_form.douserscale.errors }}
                </div>
            </div>

            <div class="col-md-4
                {% if fitter_form.nofinitecheck.errors %}error{% endif %}
                div-{{ fitter_form.nofinitecheck.name }}
                ">
                <!-- Label -->
                <label for="{{ fitter_form.nofinitecheck.auto_id }}">
                    {{ fitter_form.nofinitecheck.label }}
                </label>

                <!-- Field -->
                <div>
                    {{ fitter_form.nofinitecheck }}
                    {{ fitter_form.nofinitecheck.errors }}
                </div>
            </div>
        </div>
    </div>

    <div class="div-multinest">
        <!-- 'efr', 'tol', 'ztol', -->
        <div class="container-fluid field">
            <div class="col-md-4
                {% if fitter_form.efr.errors %}error{% endif %}
                div-{{ fitter_form.efr.name }}
                ">
                <!-- Label -->
                <label for="{{ fitter_form.efr.auto_id }}">
                    {{ fitter_form.efr.label }}
                </label>

                <!-- Field -->
                <div>
                    {{ fitter_form.efr }}
                    {{ fitter_form.efr.errors }}
                </div>
            </div>

            <div class="col-md-4
                {% if fitter_form.tol.errors %}error{% endif %}
                div-{{ fitter_form.tol.name }}
                ">
                <!-- Label -->
                <label for="{{ fitter_form.tol.auto_id }}">
                    {{ fitter_form.tol.label }}
                </label>

                <!-- Field -->
                <div>
                    {{ fitter_form.tol }}
                    {{ fitter_form.tol.errors }}
                </div>
            </div>

            <div class="col-md-4
                {% if fitter_form.ztol.errors %}error{% endif %}
                div-{{ fitter_form.ztol.name }}
                ">
                <!-- Label -->
                <label for="{{ fitter_form.ztol.auto_id }}">
                    {{ fitter_form.ztol.label }}
                </label>

                <!-- Field -->
                <div>
                    {{ fitter_form.ztol }}
                    {{ fitter_form.ztol.errors }}
                </div>
            </div>
        </div>

        <!-- 'logzero', 'multinest_is', 'mmodal', -->
        <div class="container-fluid field">
            <div class="col-md-4
                {% if fitter_form.logzero.errors %}error{% endif %}
                div-{{ fitter_form.logzero.name }}
                ">
                <!-- Label -->
                <label for="{{ fitter_form.logzero.auto_id }}">
                    {{ fitter_form.logzero.label }}
                </label>

                <!-- Field -->
                <div>
                    {{ fitter_form.logzero }}
                    {{ fitter_form.logzero.errors }}
                </div>
            </div>

            <div class="col-md-4
                {% if fitter_form.multinest_is.errors %}error{% endif %}
                div-{{ fitter_form.multinest_is.name }}
                ">
                <!-- Label -->
                <label for="{{ fitter_form.multinest_is.auto_id }}">
                    {{ fitter_form.multinest_is.label }}
                </label>

                <!-- Field -->
                <div>
                    {{ fitter_form.multinest_is }}
                    {{ fitter_form.multinest_is.errors }}
                </div>
            </div>

            <div class="col-md-4
                {% if fitter_form.mmodal.errors %}error{% endif %}
                div-{{ fitter_form.mmodal.name }}
                ">
                <!-- Label -->
                <label for="{{ fitter_form.mmodal.auto_id }}">
                    {{ fitter_form.mmodal.label }}
                </label>

                <!-- Field -->
                <div>
                    {{ fitter_form.mmodal }}
                    {{ fitter_form.mmodal.errors }}
                </div>
            </div>
        </div>

        <!-- 'ceff', 'nlive', 'multinest_maxiter', -->
        <div class="container-fluid field">
            <div class="col-md-4
                {% if fitter_form.ceff.errors %}error{% endif %}
                div-{{ fitter_form.ceff.name }}
                ">
                <!-- Label -->
                <label for="{{ fitter_form.ceff.auto_id }}">
                    {{ fitter_form.ceff.label }}
                </label>

                <!-- Field -->
                <div>
                    {{ fitter_form.ceff }}
                    {{ fitter_form.ceff.errors }}
                </div>
            </div>

            <div class="col-md-4
                {% if fitter_form.nlive.errors %}error{% endif %}
                div-{{ fitter_form.nlive.name }}
                ">
                <!-- Label -->
                <label for="{{ fitter_form.nlive.auto_id }}">
                    {{ fitter_form.nlive.label }}
                </label>

                <!-- Field -->
                <div>
                    {{ fitter_form.nlive }}
                    {{ fitter_form.nlive.errors }}
                </div>
            </div>

            <div class="col-md-4
                {% if fitter_form.multinest_maxiter.errors %}error{% endif %}
                div-{{ fitter_form.multinest_maxiter.name }}
                ">
                <!-- Label -->
                <label for="{{ fitter_form.multinest_maxiter.auto_id }}">
                    {{ fitter_form.multinest_maxiter.label }}
                </label>

                <!-- Field -->
                <div>
                    {{ fitter_form.multinest_maxiter }}
                    {{ fitter_form.multinest_maxiter.errors }}
                </div>
            </div>
        </div>

        <!-- 'seed', 'outfile', -->
        <div class="container-fluid field">
            <div class="col-md-4
                {% if fitter_form.seed.errors %}error{% endif %}
                div-{{ fitter_form.seed.name }}
                ">
                <!-- Label -->
                <label for="{{ fitter_form.seed.auto_id }}">
                    {{ fitter_form.seed.label }}
                </label>

                <!-- Field -->
                <div>
                    {{ fitter_form.seed }}
                    {{ fitter_form.seed.errors }}
                </div>
            </div>

            <div class="col-md-4
                {% if fitter_form.outfile.errors %}error{% endif %}
                div-{{ fitter_form.outfile.name }}
                ">
                <!-- Label -->
                <label for="{{ fitter_form.outfile.auto_id }}">
                    {{ fitter_form.outfile.label }}
                </label>

                <!-- Field -->
                <div>
                    {{ fitter_form.outfile }}
                    {{ fitter_form.outfile.errors }}
                </div>
            </div>
        </div>
    </div>


    {% include 'job/snippets/pager.html' %}
</form>
