<form action="{% url 'job_params_edit' id=job_id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% include 'job/snippets-actions/pager.html' %}

    {% for field in params_form %}
        {% if not forloop.first and forloop.counter0|divisibleby:8 %}
            </div>
            <br />
        {% endif %}

        {% if forloop.counter0|divisibleby:8 %}
            <div class="container-fluid field">
                <legend>{{ field.name|cut:"_fixed" }}</legend>
        {% endif %}
            <div class="col-md-6
                    {% if field.name == 'outfile' %}hidden{% endif %}
                    {% if field.errors %}error{% endif %}
                    div-{{ field.name }}
                    ">
                <!-- Label -->
                <label for="{{ field.auto_id }}">
                    {{ field.label }}
                </label>

                <!-- Field -->
                <div>
                    {{ field }}
                    {{ field.errors }}
                </div>
            </div>
        {% if forloop.last %}
            </div>
        {% endif %}
    {% endfor %}

    {% include 'job/snippets-actions/pager.html' %}
</form>